<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping Cart for User: <span th:text="${cart.userId}"></span></title>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h1>Shopping Cart for User: <span th:text="${cart.userId}"></span></h1>
    <p>Cart Items:</p>
        <li th:each="item : ${cart.items}" class="list-group-item d-flex justify-content-between">
            <span class="fw-bold">SKU Code:</span> <span th:text="${item.skuCode}"></span>
            <span class="fw-bold">-- Quantity:</span> <span th:text="${item.quantity}"></span>
            <span class="fw-bold">-- Price:</span> <span th:text="${item.price}"></span>
            <span class="fw-bold">-- AnyObject Value:</span> <span th:text="${item.anyObject.values}"></span>
        </li>
    </ul>
</div>
</body>
</html>